.form__wrap {
  display: flex;
  flex-direction: column;
  width: 100%
}
.form__label {
  display: block
}
.form__label:not(:last-child) {
  margin-bottom: 10px
}
.form__input {
  width: 100%;
  padding: 18px 0;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px
}
@media (max-width:1440px) {
  .form__input {
    font-size: 14px;
    line-height: 120%;
    padding: 13px 0
  }
}